<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.accp.ssm.dao.IUserDao">
    <sql id="query">select * from</sql>
    
    <!-- 登录 按照员工号和密码查询员工 -->
    <select id="loginEmp" resultType="empvo">
    	<include refid="query"/>
    	`employee` e,`position` p ,`department` dep 
    	 where e.`positionId`=p.`positionId`
    	 and dep.`departmentId`=e.`departmentId`
 		 and employeeId=#{employeeId} and password=#{password}
    </select>
    
    <!-- 根据员工号查询对象 -->
    <select id="queryEmpById" resultType="employee">
    	<include refid="query"/>
    	`employee` where `employeeId`=#{employeeId}
    </select>
</mapper>